<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@offer) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :offerType, "Offer type" %>
      <%= f.select :offerType, [ 'Buy', 'Sell' ], class: 'form-control'%>

      <%= f.label :paymentMethodID, "Payment method" %>
      <%= f.select :paymentMethodID, ['Cash in person', 'Bank transfer', 'PayPal', 'International Wire Transfer', 'Venmo', 'Zelle' ] %>

      <%= f.label :localCurrency, "Local currency" %>
      <%= f.select :localCurrency, ['USD', 'EUR', 'GBP'] %>

      <%= f.label :exchangeRate, "Exchange rate" %>
      <%= f.number_field :exchangeRate, class: 'form-control' %>

      <%= f.label :location, "Location" %>
      <%= f.text_field :location , class: 'form-control'%>

      <%= f.label :headline, "Head line" %>
      <%= f.text_field :headline , class: 'form-control'%>

      <%= f.label :termsAgreement, "Terms agreement" %>
      <%= f.text_field :termsAgreement , class: 'form-control'%>

      <%= f.label :standardHours, "Standard hours" %>
      <%= f.text_field :standardHours , class: 'form-control'%>

      <%= f.submit "Create new offer", class: "btn btn-default" %>
    <% end %>
  </div>
</div>
